<?xml version="1.0"?>
<!--
/**
 * Copyright 2017 Shopial. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Social::marketing_social" title="Social" module="Magento_Social" sortOrder="30"
             parent="Magento_Backend::marketing" resource="Magento_Social::marketing_social"/>
        <add id="Magento_Social::facebook" title="Connect to Facebook" module="Magento_Social" sortOrder="10"
             parent="Magento_Social::marketing_social" action="social/facebook/manage" resource="Magento_Social::facebook"/>
    </menu>
</config>
